<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Humane_Society.Properties.Settings.HumaneSocietyConnectionString"
            connectionString="Data Source=DESKTOP-NUQ639N;Initial Catalog=HumaneSociety;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Humane_Society.Properties.Settings.Humane_SocietyConnectionString"
            connectionString="Data Source=DESKTOP-NUQ639N;Initial Catalog=Humane_Society;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>